.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
    padding: 1rem;
}

.headerList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px
}

.headerDesc {
    margin: 20px 0px;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.headerSearch {
    height: 30px;
    background-color: white;
    color: #003580;
    border: 3px solid rgb(212, 212, 10);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: -140px;
    padding: 10px;
    border-radius: 5px;
}

.headerSearchItem {

}